# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

.DS_Store
/node_modules
/node
/src/main/resources/javascript/apps
junit.xml

# Jahia DX Studio
repository.xml.generated

src/main/resources/META-INF/js

# Files used by the testing framework
/tests/.env
/tests/artifacts
/tests/build-dependencies
/tests/node_modules
yarn-error.log

# yarn v2
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/.pnp.*

**/.yalc
**/yalc.lock
