<h3>Handlebars Parameter view {{currentContent.name}}</h3>
<div data-testid="areaParam-string1">
    stringParam1={{renderParameters.stringParam1}}
</div>
<div data-testid="areaParam-string2">
    stringParam2={{renderParameters.stringParam2}}
</div>
