<h2>Test jFindDisplayableContent helper</h2>

<p data-testid="displayableContent">
    {{jFindDisplayableContent path=currentContent.properties.target.path varName="displayableContent"}}
    Found displayable content: {{displayableContent.path}}
</p>