<h3>This component is used for testing Jahia rule deployment</h3>

<div data-testid="testRule_triggerProp">jcr:title : {{currentContent.properties.triggerProp}}</div>
<div data-testid="testRule_resultProp">prop1 : {{currentContent.properties.resultProp}}</div>