{{#*inline "menuEntry"}}
<li class="{{menuEntryCss this @first @last}}">
  {{{this.render}}}
  {{#if this.children}}
  <div class="navBar">
  <ul class="inner-box level_{{level}}">
    {{#each this.children}}
      {{> menuEntry}}
    {{/each}}
  </ul>
  </div>
  {{/if}}
</li>
{{/inline}}

<div class="navBar">
  <ul class="navmenu level_0">
  {{#each (buildNavMenu baseNode=currentNode.properties.[j:baselineNode] maxDepth=currentNode.properties.[j:maxDepth] startLevel=currentNode.properties.[j:startLevel])}}
    {{> menuEntry}}
  {{/each}}
  </ul>
</div>