<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Template</title>
</head>

<body>
    <header>
        {{renderComponent name="header" primaryNodeType="jnt:area"}}
    </header>

    <main>
        {{renderComponent name="pagecontent" primaryNodeType="jnt:area"}}
    </main>

    <footer>
        {{renderComponent name="footer" primaryNodeType="jnt:area"}}
    </footer>
</body>

</html>