<h3>Parameter view {{currentContent.name}}</h3>
<div data-testid="renderParam-string1">
    stringParam={{renderParameters.stringParam}}
</div>
<div data-testid="renderParam-string2">
    stringParam2={{renderParameters.stringParam2}}
</div>
<div data-testid="renderParam-notString-notSupported">
    objectParam not supported={{renderParameters.objectParam.integerParam}}
</div>
